<div class="card border ml-2 mr-2 mt-2 mb-2 pb-2 pt-2">
  <div class="text-center">
    <span class="h4 mb-4">Please add your brewed beer parameters</span>
    <button style="float:right" type="button" class="btn btn-primary mr-2" (click)="getParameters(true)">Refresh
      API</button>
  </div>
  <form class="col-sm-11">
    <div class="alert alert-danger" role="alert" *ngIf="parameters.hasError">
        {{parameters.errorMessage}}
    </div>
    <div class="form-group row">
      <label for="alcohol" class="col-sm-2 col-form-label">Alcohol</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="alcohol" id="alcohol"
          (input)="checkAlcohol($event.target.value)" [(ngModel)]="beer.alcohol.value">
      </div>
      <div [ngClass]="'alert pt-1 pb-1' + ' ' + beer.alcohol.color" role="alert">
        {{beer.alcohol.message}}
      </div>
    </div>

    <div class="form-group row">
      <label for="attenuation" class="col-sm-2 col-form-label">Attenuation</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="attenuation" id="attenuation"
          (input)="checkAttenuation($event.target.value)" [(ngModel)]="beer.attenuation.value">
      </div>
      <div [ngClass]="'alert pt-1 pb-1' + ' ' + beer.attenuation.color" role="alert">
        {{beer.attenuation.message}}
      </div>
    </div>

    <div class="form-group row">
      <label for="gravity" class="col-sm-2 col-form-label">Gravity</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="gravity" id="gravity"
          (input)="checkGravity($event.target.value)" [(ngModel)]="beer.gravity.value">
      </div>
      <div [ngClass]="'alert pt-1 pb-1' + ' ' + beer.gravity.color" role="alert">
        {{beer.gravity.message}}
      </div>
    </div>

    <div class="form-group row">
      <label for="bitterness" class="col-sm-2 col-form-label">Bitterness</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="bitterness" id="bitterness"
          (input)="checkBitterness($event.target.value)" [(ngModel)]="beer.bitterness.value">
      </div>
      <div [ngClass]="'alert pt-1 pb-1' + ' ' + beer.bitterness.color" role="alert">
        {{beer.bitterness.message}}
      </div>
    </div>

    <div class="form-group row">
      <label for="color" class="col-sm-2 col-form-label">Color</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="color" id="color" (input)="checkColor($event.target.value)"
          [(ngModel)]="beer.color.value">
      </div>
      <div [ngClass]="'alert pt-1 pb-1' + ' ' + beer.color.color" role="alert">
        {{beer.color.message}}
      </div>
    </div>

    <div class="form-group row">
      <label for="turbidity" class="col-sm-2 col-form-label">Turbidity</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="turbidity" id="turbidity"
          (input)="checkTurbidity($event.target.value)" [(ngModel)]="beer.turbidity.value">
      </div>
      <div [ngClass]="'alert pt-1 pb-1' + ' ' + beer.turbidity.color" role="alert">
        {{beer.turbidity.message}}
      </div>
    </div>

    <div class="form-group row">
      <label for="ph" class="col-sm-2 col-form-label">ph</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="ph" id="ph" (input)="checkPh($event.target.value)"
          [(ngModel)]="beer.ph.value">
      </div>
      <div [ngClass]="'alert pt-1 pb-1' + ' ' + beer.ph.color" role="alert">
        {{beer.ph.message}}
      </div>
    </div>
  </form>
</div>
