<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active text-white">
      <a class="nav-link" routerLink="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/config">Config API</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
