<div class="border ml-2 mr-2 mt-2 mb-2 pb-2 pt-2">
  <div class="text-center">
    <p class="h4 mb-4">Here you can config parameters API</p>
  </div>
  <form class="col-sm-11">
    <div class="alert alert-danger" role="alert" *ngIf="parameters.hasError">
      {{parameters.errorMessage}}
      <button type="button" class="btn btn-primary mr-2" (click)="getParameters(true)">Refresh
        API</button>
    </div>
    <div class="form-group row">
      <label for="alcohol" class="col-sm-2 col-form-label">Alcohol</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="alcohol" id="alcohol"
          [(ngModel)]="parameters.data.alcohol">
      </div>
    </div>

    <div class="form-group row">
      <label for="attenuation" class="col-sm-2 col-form-label">Attenuation</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="attenuation" id="attenuation"
          [(ngModel)]="parameters.data.attenuation">
      </div>
    </div>

    <div class="form-group row">
      <label for="gravity" class="col-sm-2 col-form-label">Gravity</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="gravity" id="gravity"
          [(ngModel)]="parameters.data.gravity">
      </div>
    </div>

    <div class="form-group row">
      <label for="maxBitterness" class="col-sm-2 col-form-label">Max-Bitterness</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="maxBitterness" id="maxBitterness"
          [(ngModel)]="parameters.data.maxBitterness">
      </div>
    </div>

    <div class="form-group row">
      <label for="minBitterness" class="col-sm-2 col-form-label">Min-Bitterness</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="minBitterness" id="minBitterness"
          [(ngModel)]="parameters.data.minBitterness">
      </div>
    </div>

    <div class="form-group row">
      <label for="maxColor" class="col-sm-2 col-form-label">Max-Color</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="maxColor" id="maxColor"
          [(ngModel)]="parameters.data.maxColor">
      </div>
    </div>

    <div class="form-group row">
      <label for="minColor" class="col-sm-2 col-form-label">Min-Color</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="minColor" id="minColor"
          [(ngModel)]="parameters.data.minColor">
      </div>
    </div>

    <div class="form-group row">
      <label for="maxTurbidity" class="col-sm-2 col-form-label">Max-Turbidity</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="maxTurbidity" id="maxTurbidity"
          [(ngModel)]="parameters.data.maxTurbidity">
      </div>
    </div>

    <div class="form-group row">
      <label for="minTurbidity" class="col-sm-2 col-form-label">Min-Turbidity</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="minTurbidity" id="minTurbidity"
          [(ngModel)]="parameters.data.minTurbidity">
      </div>
    </div>

    <div class="form-group row">
      <label for="ph" class="col-sm-2 col-form-label">ph</label>
      <div class="col-sm-5">
        <input type="number" [readonly]="!isEditing" class="form-control" name="ph" id="ph"
          [(ngModel)]="parameters.data.ph">
      </div>
    </div>

    <div class="col-md-11 text-center">
      <button type="button" class="btn btn-danger mr-2" (click)="cancelEditParameters()"
        *ngIf="isEditing">Cancel</button>
      <button type="button" class="btn btn-success" (click)="editParameters()">{{isEditing ? 'Save' : 'Edit'}}</button>
    </div>
  </form>
</div>
